.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description{
    text-align: center;
    width: 7rem;
    margin-right: 3rem;
    font-style: italic;
    border-radius: 1rem;
}

.drum-container{
    display: flex;
    padding: 2.5em;
    background-color: #ffffff;
    border-radius: 1rem;
   

    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(126, 209, 237) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(232, 220, 160) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(188, 108, 108) 40px -40px;
}
